@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div class="text-center">
    @*<h1 class="display-4">Welcome</h1>

        <p>Learn gjhgjhghgjjhgjhzgjgjzhgjg jhgzj gjgh jhgjzhg jhgzj jzhgj zjhgzf ghgjgh jhzgjhzfhgf gjhzgj gjzhgjzhg jg aboutgjhgjhghgjjhgjhzgjgjzhgjg jhgzj gjgh jhgjzhg jhgzj jzhgj zjhgzf ghgjgh jhzgjhzfhgf gjhzgj gjzhgjzhg jg aboutgjhgjhghgjjhgjhzgjgjzhgjg jhgzj gjgh jhgjzhg jhgzj jzhgj zjhgzf ghgjgh jhzgjhzfhgf gjhzgj gjzhgjzhg jg aboutgjhgjhghgjjhgjhzgjgjzhgjg jhgzj gjgh jhgjzhg jhgzj jzhgj zjhgzf ghgjgh jhzgjhzfhgf gjhzgj gjzhgjzhg jg aboutgjhgjhghgjjhgjhzgjgjzhgjg jhgzj gjgh jhgjzhg jhgzj jzhgj zjhgzf ghgjgh jhzgjhzfhgf gjhzgj gjzhgjzhg jg aboutgjhgjhghgjjhgjhzgjgjzhgjg jhgzj gjgh jhgjzhg jhgzj jzhgj zjhgzf ghgjgh jhzgjhzfhgf gjhzgj gjzhgjzhg jg aboutgjhgjhghgjjhgjhzgjgjzhgjg jhgzj gjgh jhgjzhg jhgzj jzhgj zjhgzf ghgjgh jhzgjhzfhgf gjhzgj gjzhgjzhg jg aboutgjhgjhghgjjhgjhzgjgjzhgjg jhgzj gjgh jhgjzhg jhgzj jzhgj zjhgzf ghgjgh jhzgjhzfhgf gjhzgj gjzhgjzhg jg aboutgjhgjhghgjjhgjhzgjgjzhgjg jhgzj gjgh jhgjzhg jhgzj jzhgj zjhgzf ghgjgh jhzgjhzfhgf gjhzgj gjzhgjzhg jg aboutgjhgjhghgjjhgjhzgjgjzhgjg jhgzj gjgh jhgjzhg jhgzj jzhgj zjhgzf ghgjgh jhzgjhzfhgf gjhzgj gjzhgjzhg jg aboutgjhgjhghgjjhgjhzgjgjzhgjg jhgzj gjgh jhgjzhg jhgzj jzhgj zjhgzf ghgjgh jhzgjhzfhgf gjhzgj gjzhgjzhg jg aboutgjhgjhghgjjhgjhzgjgjzhgjg jhgzj gjgh jhgjzhg jhgzj jzhgj zjhgzf ghgjgh jhzgjhzfhgf gjhzgj gjzhgjzhg jg aboutgjhgjhghgjjhgjhzgjgjzhgjg jhgzj gjgh jhgjzhg jhgzj jzhgj zjhgzf ghgjgh jhzgjhzfhgf gjhzgj gjzhgjzhg jg aboutgjhgjhghgjjhgjhzgjgjzhgjg jhgzj gjgh jhgjzhg jhgzj jzhgj zjhgzf ghgjgh jhzgjhzfhgf gjhzgj gjzhgjzhg jg aboutgjhgjhghgjjhgjhzgjgjzhgjg jhgzj gjgh jhgjzhg jhgzj jzhgj zjhgzf ghgjgh jhzgjhzfhgf gjhzgj gjzhgjzhg jg aboutgjhgjhghgjjhgjhzgjgjzhgjg jhgzj gjgh jhgjzhg jhgzj jzhgj zjhgzf ghgjgh jhzgjhzfhgf gjhzgj gjzhgjzhg jg aboutgjhgjhghgjjhgjhzgjgjzhgjg jhgzj gjgh jhgjzhg jhgzj jzhgj zjhgzf ghgjgh jhzgjhzfhgf gjhzgj gjzhgjzhg jg aboutgjhgjhghgjjhgjhzgjgjzhgjg jhgzj gjgh jhgjzhg jhgzj jzhgj zjhgzf ghgjgh jhzgjhzfhgf gjhzgj gjzhgjzhg jg aboutgjhgjhghgjjhgjhzgjgjzhgjg jhgzj gjgh jhgjzhg jhgzj jzhgj zjhgzf ghgjgh jhzgjhzfhgf gjhzgj gjzhgjzhg jg aboutgjhgjhghgjjhgjhzgjgjzhgjg jhgzj gjgh jhgjzhg jhgzj jzhgj zjhgzf ghgjgh jhzgjhzfhgf gjhzgj gjzhgjzhg jg aboutgjhgjhghgjjhgjhzgjgjzhgjg jhgzj gjgh jhgjzhg jhgzj jzhgj zjhgzf ghgjgh jhzgjhzfhgf gjhzgj gjzhgjzhg jg aboutgjhgjhghgjjhgjhzgjgjzhgjg jhgzj gjgh jhgjzhg jhgzj jzhgj zjhgzf ghgjgh jhzgjhzfhgf gjhzgj gjzhgjzhg jg aboutgjhgjhghgjjhgjhzgjgjzhgjg jhgzj gjgh jhgjzhg jhgzj jzhgj zjhgzf ghgjgh jhzgjhzfhgf gjhzgj gjzhgjzhg jg aboutgjhgjhghgjjhgjhzgjgjzhgjg jhgzj gjgh jhgjzhg jhgzj jzhgj zjhgzf ghgjgh jhzgjhzfhgf gjhzgj gjzhgjzhg jg aboutgjhgjhghgjjhgjhzgjgjzhgjg jhgzj gjgh jhgjzhg jhgzj jzhgj zjhgzf ghgjgh jhzgjhzfhgf gjhzgj gjzhgjzhg jg aboutgjhgjhghgjjhgjhzgjgjzhgjg jhgzj gjgh jhgjzhg jhgzj jzhgj zjhgzf ghgjgh jhzgjhzfhgf gjhzgj gjzhgjzhg jg aboutgjhgjhghgjjhgjhzgjgjzhgjg jhgzj gjgh jhgjzhg jhgzj jzhgj zjhgzf ghgjgh jhzgjhzfhgf gjhzgj gjzhgjzhg jg aboutgjhgjhghgjjhgjhzgjgjzhgjg jhgzj gjgh jhgjzhg jhgzj jzhgj zjhgzf ghgjgh jhzgjhzfhgf gjhzgj gjzhgjzhg jg aboutgjhgjhghgjjhgjhzgjgjzhgjg jhgzj gjgh jhgjzhg jhgzj jzhgj zjhgzf ghgjgh jhzgjhzfhgf gjhzgj gjzhgjzhg jg aboutgjhgjhghgjjhgjhzgjgjzhgjg jhgzj gjgh jhgjzhg jhgzj jzhgj zjhgzf ghgjgh jhzgjhzfhgf gjhzgj gjzhgjzhg jg aboutgjhgjhghgjjhgjhzgjgjzhgjg jhgzj gjgh jhgjzhg jhgzj jzhgj zjhgzf ghgjgh jhzgjhzfhgf gjhzgj gjzhgjzhg jg aboutgjhgjhghgjjhgjhzgjgjzhgjg jhgzj gjgh jhgjzhg jhgzj jzhgj zjhgzf ghgjgh jhzgjhzfhgf gjhzgj gjzhgjzhg jg aboutgjhgjhghgjjhgjhzgjgjzhgjg jhgzj gjgh jhgjzhg jhgzj jzhgj zjhgzf ghgjgh jhzgjhzfhgf gjhzgj gjzhgjzhg jg aboutgjhgjhghgjjhgjhzgjgjzhgjg jhgzj gjgh jhgjzhg jhgzj jzhgj zjhgzf ghgjgh jhzgjhzfhgf gjhzgj gjzhgjzhg jg aboutgjhgjhghgjjhgjhzgjgjzhgjg jhgzj gjgh jhgjzhg jhgzj jzhgj zjhgzf ghgjgh jhzgjhzfhgf gjhzgj gjzhgjzhg jg aboutgjhgjhghgjjhgjhzgjgjzhgjg jhgzj gjgh jhgjzhg jhgzj jzhgj zjhgzf ghgjgh jhzgjhzfhgf gjhzgj gjzhgjzhg jg aboutgjhgjhghgjjhgjhzgjgjzhgjg jhgzj gjgh jhgjzhg jhgzj jzhgj zjhgzf ghgjgh jhzgjhzfhgf gjhzgj gjzhgjzhg jg aboutgjhgjhghgjjhgjhzgjgjzhgjg jhgzj gjgh jhgjzhg jhgzj jzhgj zjhgzf ghgjgh jhzgjhzfhgf gjhzgj gjzhgjzhg jg aboutgjhgjhghgjjhgjhzgjgjzhgjg jhgzj gjgh jhgjzhg jhgzj jzhgj zjhgzf ghgjgh jhzgjhzfhgf gjhzgj gjzhgjzhg jg aboutgjhgjhghgjjhgjhzgjgjzhgjg jhgzj gjgh jhgjzhg jhgzj jzhgj zjhgzf ghgjgh jhzgjhzfhgf gjhzgj gjzhgjzhg jg aboutgjhgjhghgjjhgjhzgjgjzhgjg jhgzj gjgh jhgjzhg jhgzj jzhgj zjhgzf ghgjgh jhzgjhzfhgf gjhzgj gjzhgjzhg jg aboutgjhgjhghgjjhgjhzgjgjzhgjg jhgzj gjgh jhgjzhg jhgzj jzhgj zjhgzf ghgjgh jhzgjhzfhgf gjhzgj gjzhgjzhg jg aboutgjhgjhghgjjhgjhzgjgjzhgjg jhgzj gjgh jhgjzhg jhgzj jzhgj zjhgzf ghgjgh jhzgjhzfhgf gjhzgj gjzhgjzhg jg aboutgjhgjhghgjjhgjhzgjgjzhgjg jhgzj gjgh jhgjzhg jhgzj jzhgj zjhgzf ghgjgh jhzgjhzfhgf gjhzgj gjzhgjzhg jg aboutgjhgjhghgjjhgjhzgjgjzhgjg jhgzj gjgh jhgjzhg jhgzj jzhgj zjhgzf ghgjgh jhzgjhzfhgf gjhzgj gjzhgjzhg jg aboutgjhgjhghgjjhgjhzgjgjzhgjg jhgzj gjgh jhgjzhg jhgzj jzhgj zjhgzf ghgjgh jhzgjhzfhgf gjhzgj gjzhgjzhg jg aboutgjhgjhghgjjhgjhzgjgjzhgjg jhgzj gjgh jhgjzhg jhgzj jzhgj zjhgzf ghgjgh jhzgjhzfhgf gjhzgj gjzhgjzhg jg aboutgjhgjhghgjjhgjhzgjgjzhgjg jhgzj gjgh jhgjzhg jhgzj jzhgj zjhgzf ghgjgh jhzgjhzfhgf gjhzgj gjzhgjzhg jg aboutgjhgjhghgjjhgjhzgjgjzhgjg jhgzj gjgh jhgjzhg jhgzj jzhgj zjhgzf ghgjgh jhzgjhzfhgf gjhzgj gjzhgjzhg jg aboutgjhgjhghgjjhgjhzgjgjzhgjg jhgzj gjgh jhgjzhg jhgzj jzhgj zjhgzf ghgjgh jhzgjhzfhgf gjhzgj gjzhgjzhg jg aboutgjhgjhghgjjhgjhzgjgjzhgjg jhgzj gjgh jhgjzhg jhgzj jzhgj zjhgzf ghgjgh jhzgjhzfhgf gjhzgj gjzhgjzhg jg aboutgjhgjhghgjjhgjhzgjgjzhgjg jhgzj gjgh jhgjzhg jhgzj jzhgj zjhgzf ghgjgh jhzgjhzfhgf gjhzgj gjzhgjzhg jg aboutgjhgjhghgjjhgjhzgjgjzhgjg jhgzj gjgh jhgjzhg jhgzj jzhgj zjhgzf ghgjgh jhzgjhzfhgf gjhzgj gjzhgjzhg jg aboutgjhgjhghgjjhgjhzgjgjzhgjg jhgzj gjgh jhgjzhg jhgzj jzhgj zjhgzf ghgjgh jhzgjhzfhgf gjhzgj gjzhgjzhg jg aboutgjhgjhghgjjhgjhzgjgjzhgjg jhgzj gjgh jhgjzhg jhgzj jzhgj zjhgzf ghgjgh jhzgjhzfhgf gjhzgj gjzhgjzhg jg aboutgjhgjhghgjjhgjhzgjgjzhgjg jhgzj gjgh jhgjzhg jhgzj jzhgj zjhgzf ghgjgh jhzgjhzfhgf gjhzgj gjzhgjzhg jg aboutgjhgjhghgjjhgjhzgjgjzhgjg jhgzj gjgh jhgjzhg jhgzj jzhgj zjhgzf ghgjgh jhzgjhzfhgf gjhzgj gjzhgjzhg jg aboutgjhgjhghgjjhgjhzgjgjzhgjg jhgzj gjgh jhgjzhg jhgzj jzhgj zjhgzf ghgjgh jhzgjhzfhgf gjhzgj gjzhgjzhg jg aboutgjhgjhghgjjhgjhzgjgjzhgjg jhgzj gjgh jhgjzhg jhgzj jzhgj zjhgzf ghgjgh jhzgjhzfhgf gjhzgj gjzhgjzhg jg about gjhgjhghgjjhgjhzgjgjzhgjg jhgzj gjgh jhgjzhg jhgzj jzhgj zjhgzf ghgjgh jhzgjhzfhgf gjhzgj gjzhgjzhg jg about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@

    <div class="row">
        <div class="column">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="https://homepages.cae.wisc.edu/~ece533/images/airplane.png" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="https://homepages.cae.wisc.edu/~ece533/images/airplane.png" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="https://homepages.cae.wisc.edu/~ece533/images/airplane.png" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="https://homepages.cae.wisc.edu/~ece533/images/airplane.png" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="column">
            <img src="https://homepages.cae.wisc.edu/~ece533/images/airplane.png" style="width:100%">
        </div>
        <div class="column">
            <img src="https://homepages.cae.wisc.edu/~ece533/images/serrano.png" style="width:100%">
        </div>
        <div class="column">
            <img src="https://homepages.cae.wisc.edu/~ece533/images/airplane.png" style="width:100%">
        </div>
        <div class="column">
            <img src="https://homepages.cae.wisc.edu/~ece533/images/airplane.png" style="width:100%">
        </div>
    </div>
    <div class="row">
        <div class="column">
            <img src="https://homepages.cae.wisc.edu/~ece533/images/airplane.png" style="width:100%">
        </div>
        <div class="column">
            <img src="https://homepages.cae.wisc.edu/~ece533/images/airplane.png" style="width:100%">
        </div>
        <div class="column">
            <img src="https://homepages.cae.wisc.edu/~ece533/images/serrano.png" style="width:100%">
        </div>
        <div class="column">
            <img src="https://homepages.cae.wisc.edu/~ece533/images/airplane.png" style="width:100%">
        </div>
    </div>
    <div class="row">
        <div class="column">
            <img src="https://homepages.cae.wisc.edu/~ece533/images/airplane.png" style="width:100%">
        </div>
        <div class="column">
            <img src="https://homepages.cae.wisc.edu/~ece533/images/airplane.png" style="width:100%">
        </div>
        <div class="column">
            <img src="https://homepages.cae.wisc.edu/~ece533/images/airplane.png" style="width:100%">
        </div>
        <div class="column">
            <img src="https://homepages.cae.wisc.edu/~ece533/images/airplane.png" style="width:100%">
        </div>
    </div>

</div>
